@import "../../Assets/scss/vars&mixins.scss";

.dashboard {
    padding: 1em 1.5em;
    max-width: 1600px;
    margin: 0 auto;

    &__form {
        display: flex;
        position: relative;
        padding-top: 2.5em;

        input {
            width: 50%;
            max-width: 50em;
            border: 2px solid $secondaryColor;
            outline: none;
            border-radius: 9px;
            padding: 1em 0.5em;
            margin-left: 1em;

            &::placeholder {
                color: $secondaryColor;
            }

        }

        button {
            background: $primaryColor;
            color: $secondaryColor;
            padding: 1em 2em;
            font-size: 1em;
            border: 1px solid;
            @include linkCommonStyle;
        }

        .error-msg {
            color: red;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 1.2em;
        }
    }


    &__habits-containner {
        border: 2px solid $primaryColor;
        padding: 1em;
        margin-top: 1.5em;
        border-radius: 1em;

        .noHabit-msg {
            font-size: 1.5em;
            color: $secondaryColor;
        }

        .loading-msg {
            font-size: 1em;
        }
    }

    @media only screen and (max-width: 970px) {
        font-size: 13px;
    }
}