@import "../../Assets/scss/vars&mixins.scss";

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  color: $secondaryColor;

  &__logo {
    width: auto;
    font-family: Lobster, sans-serif;
    font-size: 2em;
    cursor: pointer;
    text-decoration: none;
    color: $secondaryColor;
    outline: none;
  }

  &__btns {
    display: flex;
    align-items: center;
  }

  &__btns {
    .link {
      background: transparent;
      color: $secondaryColor;
      border: 0;
      padding: 0.7em;
      font-size: 0.95em;
      @include linkCommonStyle;
    }
  }

  @media screen and (max-width: 550px) {
    flex-direction: column;
  }
}
